*{
    padding: 0;
    margin: 0;
}
body{
    background: linear-gradient(270deg,#3c096c,#c77dff);
    /* position: relative; */
    display: flex;

    
}

#cont{
    background-color: rgba(255, 255, 255, 0.616);
    height: 600px;
    width: 90vw;
    z-index: 100;
    /* position: absolute; */
    
    
   margin-top: 20px;
   margin-left: 16px;
   /* box-shadow: 10px 4px 50px 3px white; */
   border: 7px solid rgba(255, 251, 251, 0.177);
   border-radius: 30px;
}

#evalu{
    margin-top: 100px;
    background-color: grey;
    height: 60px;
    border-radius: 13px;
    width: 300px;
    margin-left: 35px;
    display: flex;
    font-size: 10px;
}
#buttons{
    /* background-color: white; */
    margin-top: 80px;
    height: 300px;
    /* border: 1px solid black; */

}
.but{
    height: 65px;
    width: 65px;
    border-radius: 50%;
    margin-left: 15px;
    font-weight: 700;
    font-size: 20px;
    box-shadow: inset 2px  2px 10px 0.1px rgba(0, 0, 0, 0.246);
    margin-top: 5px;
    background-color:rgba(255, 255, 255, 0.109);

}

#equal{
    margin-left: 120px;
    height:50px;
    width: 100px;
    border-radius: 13px;
    font-weight: 700;
    font-size: 20px;
    box-shadow: inset 2px  2px 10px 0.1px rgba(0, 0, 0, 0.262);
    margin-top: 2px;
    background-color:rgba(255, 255, 255, 0.109);

    

}
